body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.userListHeading {
  margin: 0 auto;
  background: #012b72;
  text-align: center;
  color: #fff;
  padding: 15px 0;
}
.userListing {
  background: #f3f3f3;
  padding: 10px;
}
.odd {
  background: #f3f7f8;
}
.userListing img {
  height : 100px;
}
.userListing div {
  text-transform: capitalize;
  display: inline-block;
  position: absolute;
  margin: 38px 10px;
}
.userListing button{
  float: right;
  margin: 23px;
}
.btn {
  cursor : pointer;
  background-color: #00b9f5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.loadMore {
  position: absolute;
  left: 45%;
  margin: 10px 0;
}

.userDetails {
  list-style: none;
  display: -webkit-box;
}
.userDetails li {
  width:20%;
}
.userListHeading.userDetails {
  border: solid 1px ;
}

.userDetails li img {
  width: 200px;
}
/*Loader css*/
.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.loader #spinner {
  box-sizing: border-box;
  stroke: #673AB7;
  stroke-width: 3px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite; }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }
* {box-sizing: border-box;}
.row::after{
  content: "";
  clear: both;
  display: block;
}
[class*="col-"]{
  padding: 15px;
  float: left;
}
[class*="col-"]{
  width: 100%;
}
body{
  background-color: lightcyan;
}
.head {
  text-align: center;
}
.header{
  background-color: #b3d4fc;
  color: #000;
  padding: 15px;
}
.footer{
  background-color: #b3d4fc;
  color: black;
  text-align: center;
}
html {
  font-family: "Lucida Sans", sans-serif;
}
.menu li{
  background-color: navy;
  color: white;
  padding: 8px;
  margin-bottom: 7px;
  box-shadow: 0 1px 3px 0 grey;
  transition: width 1s;
}
.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li:hover{
  background-color: lightgray;
  width: 100%;
}
@media only screen and (orientation: landscape){
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
th {
  background-color: lightblue;
  color: black;
  text-align: center;
  margin: 10px;
  padding: 5px;
}
table td th {
  border: 2px solid black;
  border-collapse: collapse;
}
tr {
  background-color: white;
  color: black;
}
table {
  width: 100%;
}
th td {
  padding: 10px;
  text-align: center;
}
tr:hover {
  background-color: lightblue;
  color: black;
  box-shadow: 1px 1px 1px 1px darkgray;
}
.formBack {
  background-color: white;
}
.formBack p {
  background-color: lightblue;
  margin: 10px;
  padding: 8px;
}
button {
  background-color: navy;
  color: white;
  padding: 8px;
  margin-bottom: 7px;
  box-shadow: 0 1px 3px 0 grey;
  border-radius: 5px;
}
.red {
  font-size: 10px;
  color: red;
}